* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
   
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .header-container{
    width: 98.9vw;
  }
  
  
  .logo-nav img{
   position: absolute;
  height: 49px;
  width: 214px;
  top: 30px;
  left: 50px;
  
  
    
  }
  
  .header-text {
    position: absolute;
    bottom: 262px;
    left: 50%;
    transform: translateX(-50%);
    color:rgb(255,255,255);
    font-size: 36px;
    text-align: center;
  
    justify-content: center;
    
    gap:5px;
    filter: drop-shadow(9px 5px 5px #28282B);
  
  }
   
  
  nav ul {
    position: absolute;
    display: flex;
    gap: 70px;
    /* width: 94px; */
    height: 19px;
    top: 43px;
    right: 95px;
    font-size: 1.4vw;
  }
  
  nav ul div a {
    color: 	
    rgb(100%, 100%, 100%);
    text-decoration: none;
    filter: drop-shadow(12px 7px 6px black);
  } 
  .small-button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 12px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* max-width: 1200px; */
    margin-top: 65px;
    gap: 50px;
    margin-left: 10%;
}

.map-section {
    flex: 1;
    margin-top: 40px;
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    color: #1a5dab;
    font-size: 2em;
    margin-bottom: 10px;
}
.underline{
    position: absolute;
    width: 2.7%;
    height: 3px;
    background-color: red;
    margin-left: 6px;
    margin-top: 34px;
 }

.form-section p {
    margin-bottom: 20px;
    color: #333;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section input,
.form-section textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    
}

.form-section button {
    background-color: #1a5dab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-left: 42%;
}

.form-section button:hover {
    background-color: #164c8d;
}

/* Address Section */
.address-section {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-left: 15%;
}

.address-section div {
    flex: 1;
    
}

.country-contacts {
    display: flex;
    gap: 23px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

}

.country-contacts div {
    text-align: center;
}

footer {
    margin-top: 48px;
    height: 50vh;
    background-color: #0151A6;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    color: #01a627;
  
  }
  
  .footer-info {
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.5vw;
    
  }
  
  .footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 1.3vw;
  }
  
  .footer-nav ul {
    display: flex;
      justify-content: center;
      gap: 71px;
  }
  
  .footer-nav li {
    margin-right: 20px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #fcf7f7;
  }
  
  .social-media {
    gap: 32px;
      margin: 10px 0;
      display: flex;
  }
  
  
  .social-media img {
    margin-right: 10px;
    color: #fff;
  }
  
  .social-media img {
    font-size: 24px;
    height: 29px;
    width: 29px;
    border-radius: 4px;
  justify-content: center;
  }
  
  .footer-logo img {
    width: 345px;
    height: 79px;
  
  }

  @media (max-width:1440px) {
    nav ul{
      gap:26px;
      right: 44px;
    }
    .header-text{
      bottom: 188px;
    }
    .address-section{
      margin-left: 10%;
    }
    footer{
      height: 63vh;
    }
  }