* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}


.logo-nav img {
  position: absolute;
  height: 49px;
  width: 214px;
  top: 30px;
  left: 50px;



}

.header-text {
  position: absolute;
  bottom: 390px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-align: center;

  justify-content: center;
  /* width: 1640px; */
  gap: 5px;
  filter: drop-shadow(9px 5px 5px #28282B);

}


nav ul {
  position: absolute;
  display: flex;
  gap: 70px;
  /* width: 94px; */
  height: 19px;
  font-size: 1vw;
  top: 43px;
  right: 95px;
  font-size: 1.4vw;
}



nav ul div a {
  color:
    rgb(100%, 100%, 100%);
  text-decoration: none;
  filter: drop-shadow(12px 7px 6px black);
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}


/* Hero */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: 180vh; */
  padding: 5% 5% 0 5%;
  gap: 3vw;
  margin-bottom: 25px;
  /* temp */
}

.button_container {
  flex: 0.7;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: -64vh;

}

a {
  width: 80%;
}

.button1.active {
  width: 100%;
  margin: 5% 0 0 0;
  height: 8vh;
  border-radius: 19px;
  background-color: #FE0000;
  color: white;
  font-size: 1.1vw;
}

.button1 {
  width: 100%;
  margin: 5% 0 0 0;
  height: 8vh;
  border-radius: 19px;
  background-color: #0151A6;
  color: white;
  font-size: 1.1vw;
}


.details_container {
  /* gap: 31px;
  padding: 0 5%;
  overflow: overlay;
  flex: 2;
  height: 100%;
  width: 75%;
  align-items: center;
  display: flex;
  background-color: bisque;
  flex-direction: column; */

  gap: 31px;
  flex: 2;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.text1 {
  font-size: 1.2vw;
}

.details_container img {
  width: 67%;
}





/* Footer */

footer {
  /* margin-left: -48px;
  margin-bottom: -51px;
  padding: 20px; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container {
  padding-top: 8vh;
  width: 99vw;
  height: 50vh;
  background-color: #0151A6;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

/* .footer-info {
  font-size: 1.3vw;
} */

.footer-info a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.3vw;
}

.footer-nav {
  font-size: 0.9vw;
  display: flex;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 71px;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: #fcf7f7;
}

.social-media {
  gap: 32px;
  margin: 10px 0;
  display: flex;
}


.social-media img {
  margin-right: 10px;
  color: #fff;
}

.social-media img {
  font-size: 24px;
  height: 29px;
  width: 29px;
  border-radius: 4px;
  justify-content: center;
}

.footer-logo img {
  width: 345px;
  height: 79px;

}

.footer-container p {
  margin-top: 5vh;
  font-size: 0.9vw;
}


@media (max-width: 1024px) {

  .logo-nav img {
    left: 24px;
  }

  nav ul {
    gap: 37px;
    font-size: 1.5vw;
    top: 43px;
    /* right: 17px; */
  }

  .header-text {
    top: 206px;
  }

  .button_container {
    margin-top: -332px;
  }

  .button1,
  .button1.active {
    font-size: 1.4vw;
  }

  .text1 {
    font-size: 1.7vw;
  }

  .footer-container {
    padding-top: 6vh;
  }

  .footer-container a {
    font-size: 1.8vw;
  }

  .footer-nav a {
    font-size: 1.4vw;
  }

  .footer-container p {
    font-size: 1.6vw;
  }

}

@media (max-width: 1440px) {
  nav ul {
    right: 63px;
  }

  .header-text {
    top: 320px;
  }

  .button_container {
    margin-top: -47vh;
  }

  .footer-container a {
    font-size: 1.4vw;
  }

  .footer-nav a {
    font-size: 1.2vw;
  }

  .footer-container p {
    font-size: 1.2vw;
  }
}